:root {
    --bg-color-light: #F5F5F5;
    --text-color-light: #333333;
    --bg-color-dark: #202124;
    --text-color-dark: #E8EAED;
    --header-bg-light: #FFFFFF;
    --header-bg-dark: #2D2E30;
    --blue-color: #1A73E8;
    --light-blue-color: #8AB4F8;
    --accent-color: #34A853;
    --line-color: #000000;
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#fff;
    color: var(--text-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.5s ease-out;
}

#splash-screen.hidden {
    opacity: 0;
    pointer-events: none;
}

.logo-container {
    text-align: center;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

/* Loader Animation */
.loader {
    border: 5px solid #F5F5F5;
    border-top: 5px solid #1A73E8;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
    line-height: 1.6;
    margin: 0;
    overflow: auto;
}

/* Header Styles */
header {
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--header-bg-light);
    color: var(--text-color-light);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color-light);
}

nav ul {
    display: flex;
    flex-grow: 3;
    justify-content: space-around;
}

nav ul li {
    margin: 0 72px;
    display: flex;
}

nav ul li a {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    background-color: var(--header-bg-light);
    color: var(--text-color-light);
    padding: 5px 10px;
    transition: color 0.3s, background-color 0.3s;
}

nav ul li a:hover {
    color: #fff;
    background-color: var(--blue-color);
    border-radius: 4px;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

section h2 {
    color: var(--blue-color);
    border-bottom: 2px solid var(--line-color);
    padding-bottom: 0.5rem;
}


.daily-updates h2 {
    margin-bottom: 20px;
    color: var(--blue-color);
}


.update-block {
    position: relative;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 15px;
    
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
    transition: transform 0.2s, box-shadow 0.2s;
}


.update-block:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.update-block h3 {
    font-style: normal;
    margin-bottom: 10px;
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
}

.update-block p {
    margin-bottom: 15px;
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
    font-style: normal;
}
.update-block img {
    display: flex;
    position: absolute;
    width: 10%;
    height: auto;
    top: 10%;
    right: 2%;
    border-radius: 5px;
    
}


.nav-link.current {
    background-color: var(--blue-color);
    border-radius: 10px;
}

.read-more-btn {
    display: inline-block;
    background-color: var(--blue-color);
    color: #fff;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.read-more-btn:hover {
    background-color: var(--light-blue-color);
}

article p {
    color: #666;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
    margin-top: 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.flex-container {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

.flex-container > div {
    background-color: var(--blue-color);
    width: 100px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
}

/* Dark mode styles */
body.dark-mode {
    --bg-color-light: var(--bg-color-dark);
    --text-color-light: var(--text-color-dark);
    --header-bg-light: var(--header-bg-dark);
    --line-color: var(--text-color-dark);
}

/* Toggle switch styles */
.switch {
    position: absolute;
    top: 20%;
    right: 25px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--blue-color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.bubble-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.bubble {
    position: absolute;
    bottom: -100px;
    background-color: var(--blue-color);
    border-radius: 50%;
    opacity: 0.6;
    animation: move 15s infinite;
}

@keyframes move {
    from {
        transform: translateY(0) scale(1);
    }
    to {
        transform: translateY(-120vh) scale(0);
    }
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color-light);
    margin-right: 20px;
    margin-top: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

header .logo .code {
    color: var(--blue-color);
}

header .logo .pro {
    color: var(--text-color-light);
}

/* Logo Container */
.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

/* Black Line */
.line {
    width: 40px;
    height: 4px;
    background-color: var(--line-color);
    border-radius: 2px;
}

/* Inverted Triangle */
.triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid var(--blue-color);
}
.image{
    width: 10%;
    border-radius: 10px;
    height: 100%;
}
/* Responsive styles for screens smaller than 480px */
/* Responsive styles for screens smaller than 480px */
@media (max-width: 800px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    

    #splash-screen {
        display: none;
    }

    .menu-toggle {
        display: inline-block;
        position: absolute;
        left: 85%;
        top: 5%;
    }
   

    .navigation {
        width: 100%;
        display: none;
        flex-direction: column;
        background-color: var(--header-bg-light);
    }

    .navigation.active {
        display: flex;
    }

    .navigation ul {
        flex-direction: column;
        gap: 0;
        padding: 0;
    }

    .navigation ul li {
        border-bottom: 0px solid var(--line-color);
    }

    .navigation ul li a {
        display: block;
        padding: 10px;
        font-size: 0.9rem;
        color: var(--text-color-light);
    }

    .switch {
        position: absolute;
        top: 30%;
        right: 7%;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    .image{
        display:none;
    }
}
